

.page {
    margin-top: 70px;
}

.hide {
    display: none;
}

.list-group-subitems div {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group-subitems div .edit {
    float:right;
}

.add_bundle_request {
    text-align: right;
}

.add_bundle_request a {
    margin-top: 6px;
    padding: 3px;
    display: inline-block;
}

.list-group-subitems {
    display: none;
}

#request_response img {
    margin: 10px;
    display: block;
    margin: 0 auto;
}

#request_response pre {
    border: none;
    background-color: #fff;
    color: blue;
}

div.list-group-item {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

div.list-group-item .edit {
    float: right;
}

div.list-group-item a {
    color: #fff;
}